<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Angular Material Design </title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <!-- in house css and JS-->
    <script src="js/app.module.js"></script>
    <script src="js/app.CardController.js"></script>

</head>
<body ng-app="app" layout="column" layout-padding>

<div class="container" ng-controller="CreditCardChargeController as cardCtrl" layout="column" layout-padding>

    <div ng-include src="'menu.html'"></div>
    <section>
        <!--<md-toolbar class="md-primary md-default-theme">-->
        <!--<div class="md-toolbar-tools">-->
        <!--<h3 class="ng-binding">Credit Card Tool</h3>-->
        <!--</div>-->
        <!--</md-toolbar>-->

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Credit Card Tool</h3>
            </div>
            <div class="panel-body">
                <div>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Add a Credit Card Charge" ng-click="cardCtrl.tabClicked('add')">
                                <md-content>
                                    <div ng-include src="'CreditCardChargeForm.html'"></div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Search a Credit Card Charge" ng-click="cardCtrl.tabClicked('search')">
                                <md-content>
                                    <div ng-include src="'CreditCardChargeForm.html'"></div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
            <div class="panel-footer" ng-cloak layout-align="start center">

                <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>


                    <md-button ng-if="!cardCtrl.isSearch" class="md-raised md-primary"
                               ng-click="cardCtrl.uploadForm('add')">Add
                    </md-button>
                    <md-button ng-if="cardCtrl.isSearch" class="md-raised md-primary"
                               ng-click="cardCtrl.uploadForm('search')">Search
                    </md-button>
                    <md-button id="clear" class="md-raised md-button" ng-click="cardCtrl.clearForm()">Clear</md-button>
                    <md-button class="" ng-click="cardCtrl.fill()">Fill</md-button>
                </section>
            </div>
        </div>
    </section>
</div>
</body>
</html>