<div>
    <md-toolbar class="md-menu-toolbar">
        <div layout="row" layout-sm="column">

            <div class="navbar-header" style="height: 100px">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="images/logo.png" alt="logo"></a>
            </div>

            <div>
                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Vendor Invoice
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="">
                                    Upload...
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="">
                                    Search...
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Credit Card Charge
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-href="new-charge.html">
                                    Add...
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="window.open('http://www.w3schools.com');">
                                    Search...
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="">
                                    Association...
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="">
                                    Upload...
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <md-menu>
                        <button href="javascript:logoutSubmit()">
                            Logout
                        </button>
                        <md-menu-content>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>

            </div>
        </div>
    </md-toolbar>
</div>